.carouselclass {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 800px;
}
.child {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowbackward,
.arrowforward {
  cursor: pointer;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.clicked {
  background-color: #b11106;
}

.none {
  background-color: #000;
}

@media (max-width: 845px) {
  .carouselclass {
    width: 600px;
  }
}

@media (max-width: 750px) {
  .arrowbackward,
  .arrowforward {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 645px) {
  .carouselclass {
    width: 100%;
  }
}
